.env
.terraform/
secrets/
redis/
monitoring/plugins
monitoring/png
monitoring/grafana.db
.k3s/
.vagrant/
*.log
infra/k3s/ssh_key
infra/k3s/ssh_key.pub
*.retry
hello_azure_app/VERSION
environment_file
charts/
