p {
  color: #313639;
}

button {
  border-radius: 2px;
}

.header {
  background: rgba(0,0,0,0);
  height: 50px;
}

.logo-header {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.box {
  padding: 0.25em;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #313639;
}

.centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

