<link rel="stylesheet" href="{{ url_for('static', filename='pure.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='page.js') }}"></script>
<title>Hello, Azure!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <body>
    <div class="container">
      <div class="pure-menu pure-menu-horizontal contino-header">
        <img class="contino-logo-header" src="{{ url_for('static', filename='logo.png') }}">
      </div>
      <div class="pure-g centered">
        <div align="center" class="pure-u-1 box"><span class="title">A wild button appeared!</span></div>
        <div align="center" class="pure-u-1"><p>Click the button. Yep, that's it.</p></div>
        <div align="center" class="pure-u-1">
          <button id="clicker" class="pure-button pure-button-primary">Click me!</button>
        </div>
        <div align="center" class="pure-u-1 box">
          <p id="counter">You've clicked <span id="click_count"></span> times.</p>
        </div>
        <div align="center" id="image" class="pure-u-1 box"></div>
      </div>
    </div>
  </body>
</html>
