<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='page.css') }}>
<title>Example Azure App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <body>
    <div class="container">
      <div class="pure-menu pure-menu-horizontal contino-header">
        <img class="contino-logo-header" src="{{ url_for('static', filename='logo.png') }}">
      </div>
      <div class="pure-g centered">
        <div align="center" class="pure-u-1 box"><span class="title">A wild button appeared!</span></div>
        <div align="center" class="pure-u-1"><p>Click the button. Yep, that's it.</p></div>
        <div align="center" class="pure-u-1">
          <button class="pure-button pure-button-primary">Click me!</button>
        </div>
        <div align="center" class="pure-u-1 box">
          <p id="counter">You've clicked 0 times.</p>
        </div>
      </div>
    </div>
  </body>
</html>
