[Unit]
Description=The hello-azure example web app.

[Service]
Type=simple
WorkingDirectory=/app
ExecStart=python3 hello_azure.py
EnvironmentFile={{ env_file_location }}

[Install]
WantedBy=multi-user.target
